h1{
    text-align: center;
    color: #333;
}

h3,h2{
    text-align: center;
     color: #333;
}
.oval-img {
    width: 250px;
    height: 300px;     
    border-radius: 50%;
    object-fit: fill;
}
 .highlight {
        background-color: lightblue;
 }
  .ul {
            line-height: 1.6;
        }
  .p {
            text-align: justify;
            line-height: 1.6;
            color: #444;
        }
  
        .container {
            width: 80%;
            margin: auto;
            background: #ffffff;
            padding: 20px;
            border-radius: 10px;
        }